.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.roundTable{
  height: 40rem;
  margin-top: 5rem;
}

.playerOne{
  position: absolute;
  width: 7rem;
  left: 18rem;
  top: 12rem;
}
.playerTwo{
  position: absolute;
  width: 8rem;
  left: 45rem;
  top: 5rem;
}
.playerThree{
  position: absolute;
  width: 8rem;
  left: 65rem;
  top: 5rem;
}
.playerFour{
  position: absolute;
  width: 8rem;
  left: 94rem;
  top: 12rem;
}

.ownCardLeft{
  position: absolute;
  width: 12rem;
  left: 27rem;
  bottom: 3rem;
}

.ownCardRight{
  position: absolute;
  width: 12rem;
  left: 40rem;
  bottom: 3rem;
}

.tableCardOne{
  position: absolute;
  width: 6rem;
  left: 43rem;
  bottom: 24rem;
}
.tableCardTwo{
  position: absolute;
  width: 6rem;
  left: 49.5rem;
  bottom: 24rem;
}
.tableCardThree{
  position: absolute;
  width: 6rem;
  left: 56rem;
  bottom: 24rem;
}
.tableCardFour{
  position: absolute;
  width: 6rem;
  left: 62.5rem;
  bottom: 24rem;
}
.tableCardFive{
  position: absolute;
  width: 6rem;
  left: 69rem;
  bottom: 24rem;
}
