.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.roundTable{
  width: 70%;
  margin: auto;
  margin-top: 4.5%;
}

.mainPlayer{
  position: absolute;
  width: 10%;
  right: 20%;
  top: 64.5%;
}

.playerOne{
  position: absolute;
  width: 5%;
  left: 15%;
  top: 20%;
}
.playerTwo{
  position: absolute;
  width: 5%;
  left: 37.5%;
  top: 10%;
}
.playerThree{
  position: absolute;
  width: 5%;
  right: 37.5%;
  top: 10%;
}
.playerFour{
  position: absolute;
  width: 5%;
  right: 15%;
  top: 20%;
}

.playerCardLeft{
  position: absolute;
  width: 4%;
  left: 23%;
  top: 27%;
}
.playerCardRight{
  position: absolute;
  width: 4%;
  left: 27.5%;
  top: 27%;
}

.ownCardLeft{
  position: absolute;
  width: 10%;
  left: 20%;
  top: 64.5%;
}

.ownCardRight{
  position: absolute;
  width: 10%;
  left: 31%;
  top: 64.5%;
}

.tableCardOne{
  position: absolute;
  width: 5%;
  left: 36.5%;
  top: 45.5%;
}
.tableCardTwo{
  position: absolute;
  width: 5%;
  left: 42%;
  top: 45.5%;
}
.tableCardThree{
  position: absolute;
  width: 5%;
  left: 47.5%;
  top: 45.5%;
}
.tableCardFour{
  position: absolute;
  width: 5%;
  left: 53%;
  top: 45.5%;
}
.tableCardFive{
  position: absolute;
  width: 5%;
  left: 58.5%;
  top: 45.5%;
}
